In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

#  Scraping Information about Berlin

In [7]:
# Loading the HTML
url = 'https://www.wikipedia.org/wiki/Berlin'
response = requests.get(url)
berlin_soup = BeautifulSoup(response.content, 'html.parser')

In [8]:
berlin_soup.find_all(class_="infobox-data")

[<td class="infobox-data">Germany</td>,
 <td class="infobox-data"><a href="/wiki/Boroughs_and_neighborhoods_of_Berlin" title="Boroughs and neighborhoods of Berlin">Berlin</a></td>,
 <td class="infobox-data agent"><a href="/wiki/Abgeordnetenhaus_of_Berlin" title="Abgeordnetenhaus of Berlin">Abgeordnetenhaus of Berlin</a></td>,
 <td class="infobox-data"><a href="/wiki/Kai_Wegner" title="Kai Wegner">Kai Wegner</a> (<a href="/wiki/Christian_Democratic_Union_of_Germany" title="Christian Democratic Union of Germany">CDU</a>)</td>,
 <td class="infobox-data">4 (of 69)</td>,
 <td class="infobox-data"><a href="/wiki/Results_of_the_2021_German_federal_election#Berlin" title="Results of the 2021 German federal election">29 (of 736)</a></td>,
 <td class="infobox-data">891.3 km<sup>2</sup> (344.1 sq mi)</td>,
 <td class="infobox-data">3,743 km<sup>2</sup> (1,445 sq mi)</td>,
 <td class="infobox-data">30,546 km<sup>2</sup> (11,794 sq mi)</td>,
 <td class="infobox-data">34 m (112 ft)</td>,
 <td class="infobox-data">3,878,100</td>,
 <td class="infobox-data"><a href="/wiki/List_of_European_cities_by_population_within_city_limits" title="List of European cities by population within city limits">5th</a> in Europe<br/><a href="/wiki/List_of_cities_in_Germany_by_population" title="List of cities in Germany by population">1st</a> in Germany</td>,
 <td class="infobox-data">4,213/km<sup>2</sup> (10,910/sq mi)</td>,
 <td class="infobox-data">4,768,142</td>,
 <td class="infobox-data">1,274/km<sup>2</sup> (3,300/sq mi)</td>,
 <td class="infobox-data">6,144,600</td>,
 <td class="infobox-data">201/km<sup>2</sup> (520/sq mi)</td>,
 <td class="infobox-data">Berliner(s) (English)<br/>Berliner (m), Berlinerin (f) (German)</td>,
 <td class="infobox-data">€179.379 billion (2022)</td>,
 <td class="infobox-data">€268.179 billion (2022)</td>,
 <td class="infobox-data"><a href="/wiki/UTC%2B01:00" title="UTC+01:00">UTC+01:00</a> (<a href="/wiki/Central_European_Time" title="Central European Time">CET</a>)</td>,
 <td class="infobox-data"><a href="/wiki/UTC%2B02:00" title="UTC+02:00">UTC+02:00</a> (<a href="/wiki/Central_European_Summer_Time" title="Central European Summer Time">CEST</a>)</td>,
 <td class="infobox-data"><a href="/wiki/List_of_dialling_codes_in_Germany#030_–_Berlin" title="List of dialling codes in Germany">030</a></td>,
 <td class="infobox-data nickname"><a href="/wiki/Nomenclature_of_Territorial_Units_for_Statistics" title="Nomenclature of Territorial Units for Statistics">NUTS Region</a>: DE3</td>,
 <td class="infobox-data nickname">DE-BE</td>,
 <td class="infobox-data">B</td>,
 <td class="infobox-data"><a href="/wiki/.berlin" title=".berlin">.berlin</a></td>,
 <td class="infobox-data">0.959<sup class="reference" id="cite_ref-GlobalDataLab_9-0"><a href="#cite_note-GlobalDataLab-9">[9]</a></sup><br/><style data-mw-deduplicate="TemplateStyles:r1220487116">html.skin-theme-clientpref-night .mw-parser-output div:not(.notheme)>.tmp-color,html.skin-theme-clientpref-night .mw-parser-output p>.tmp-color,html.skin-theme-clientpref-night .mw-parser-output table:not(.notheme) .tmp-color{color:inherit!important}@media(prefers-color-scheme:dark){html.skin-theme-clientpref-os .mw-parser-output div:not(.notheme)>.tmp-color,html.skin-theme-clientpref-os .mw-parser-output p>.tmp-color,html.skin-theme-clientpref-os .mw-parser-output table:not(.notheme) .tmp-color{color:inherit!important}}</style><span class="tmp-color" style="color:green">very high</span> · <a href="/wiki/List_of_German_states_by_Human_Development_Index" title="List of German states by Human Development Index">2nd of 16</a></td>,
 <td class="infobox-data"><span class="url"><a class="external text" href="https://www.berlin.de/en/" rel="nofollow">berlin.de</a></span></td>]

In [9]:
berlin_soup.find(class_="infobox-data")

In [10]:
# Extracting the country information
berlin_country = berlin_soup.find(class_="infobox-data").get_text()
berlin_country

'Germany'

In [11]:
# Extracting the longitude information
berlin_longitude = berlin_soup.find(class_="longitude").get_text()
berlin_longitude

'13°24′18″E'

In [12]:
# Extracting the latitude information
berlin_latitude = berlin_soup.find(class_="latitude").get_text()
berlin_latitude

'52°31′12″N'

#### Changing the longitude and latitude format to a decimal

In [14]:
!pip install lat-lon-parser

Requirement already satisfied: lat-lon-parser in /opt/anaconda3/lib/python3.11/site-packages (1.3.0)

In [15]:
from lat_lon_parser import parse

In [16]:
# Converting the latitude to a decimal 
parse(berlin_latitude)

52.519999999999996

In [17]:
# Converting the longitude to a decimal
parse(berlin_longitude)

13.405000000000001

## Scraping City Data for multiple Cities

In [18]:
cities = ["Berlin", "Hamburg", "Munich", "Cologne", "Stuttgart"]
# Creating a single list to keep all the data
city_data = []

for city in cities:
    url = f"https://www.wikipedia.org/wiki/{city}"
    response = requests.get(url)
    city_soup = BeautifulSoup(response.content, 'html.parser')

    # Extracting the relevant information
    country = city_soup.find(class_="infobox-data").get_text()
    city_latitude = city_soup.find(class_="latitude").get_text()
    city_longitude = city_soup.find(class_="longitude").get_text()

    #  Appending a dictionary of values to the list for each city
    city_data.append({"city": city,
                     "country": country,
                     "latitude": parse(city_latitude),# latitude in decimal format
                     "longitude": parse(city_longitude) # longitude in decimal format
                    })

cities_df = pd.DataFrame(city_data)
cities_df

        city  country   latitude  longitude
0     Berlin  Germany  52.520000  13.405000
1    Hamburg  Germany  53.550000  10.000000
2     Munich  Germany  48.137500  11.575000
3    Cologne  Germany  50.936389   6.952778
4  Stuttgart  Germany  48.777500   9.180000

## Defining a Function to Automate Population Data Extraction

In [19]:
def cities_dataframe(cities):

# Creating a single list to keep all the data
city_data = []

for city in cities:
    url = f"https://www.wikipedia.org/wiki/{city}"
    response = requests.get(url)
    city_soup = BeautifulSoup(response.content, 'html.parser')

    # Extracting the relevant information
    city_latitude = city_soup.find(class_="latitude").get_text()
    city_longitude = city_soup.find(class_="longitude").get_text()
    country = city_soup.find(class_="infobox-data").get_text()


    #  Appending a dictionary of values to the list for each city
    city_data.append({"city_name": city,
                    "country": country,
                    "latitude": parse(city_latitude), # latitude in decimal format
                    "longitude": parse(city_longitude), # longitude in decimal format
                    })

  return pd.DataFrame(city_data)

In [20]:
list_of_cities = cities = ["Berlin", "Hamburg", "Munich", "Cologne", "Stuttgart"]

cities_df = cities_dataframe(list_of_cities)
cities_df

   city_name  country   latitude  longitude
0     Berlin  Germany  52.520000  13.405000
1    Hamburg  Germany  53.550000  10.000000
2     Munich  Germany  48.137500  11.575000
3    Cologne  Germany  50.936389   6.952778
4  Stuttgart  Germany  48.777500   9.180000

Usage of Functions -> Would be easier for Gans to include cities later if they want to expand

## Scraping Population Data for Berlin

In [23]:
berlin_soup.find(string="Population").find_next()

In [24]:
berlin_soup.find(string="Population").find_next("td")

In [25]:
berlin_population = berlin_soup.find(string="Population").find_next("td").get_text()
berlin_population

'3,878,100'

In [26]:
berlin_population_clean = int(berlin_population.replace(",", ""))
berlin_population_clean

3878100

In [27]:
# Check if the datatype of the population has actually been changed
print(type(berlin_population_clean))

<class 'int'>

## Scraping Population Data for multiple cities

In [28]:
from datetime import datetime # to get today's date

cities = ["Berlin", "Hamburg", "Munich", "Cologne", "Stuttgart"]

# Creating a single list to keep all the data
population_data = []

for city in cities:
    url = f"https://www.wikipedia.org/wiki/{city}"
    response = requests.get(url)
    city_soup = BeautifulSoup(response.content, 'html.parser')

    # Extracting the relevant information
    city_population = city_soup.find(string="Population").find_next("td").get_text()
    city_population_clean = int(city_population.replace(",", ""))
    today = datetime.today().strftime("%d.%m.%Y")

    #  Appending a dictionary of values to the list for each city
    population_data.append({"city_name": city,
                     "population": city_population_clean,
                     "population_timestamp": today
                    })

population_data = pd.DataFrame(population_data)
population_data

   city_name  population population_timestamp
0     Berlin     3878100           11.07.2024
1    Hamburg     1964021           11.07.2024
2     Munich     1512491           11.07.2024
3    Cologne     1084831           11.07.2024
4  Stuttgart      632865           11.07.2024

## Defining a Function to Automate Population Data Extraction

In [29]:
def populations_dataframe(cities):
# Creating a single list to keep all the data
    population_data = []

    for city in cities:
        url = f"https://www.wikipedia.org/wiki/{city}"
        response = requests.get(url)
        city_soup = BeautifulSoup(response.content, 'html.parser')
    
    # Extracting the relevant information
        city_population = city_soup.find(string="Population").find_next("td").get_text()
        city_population_clean = int(city_population.replace(",", ""))
        today = datetime.today().strftime("%d.%m.%Y")

    #  Appending a dictionary of values to the list for each city
        population_data.append({"city_name": city,
                     "population": city_population_clean,
                     "population_timestamp": today
                    })

    return pd.DataFrame(population_data)

In [30]:
# Calling the populations function
cities = ["Berlin", "Hamburg", "Munich", "Cologne", "Stuttgart"]
population_df = populations_dataframe(cities)
population_df

   city_name  population population_timestamp
0     Berlin     3878100           11.07.2024
1    Hamburg     1964021           11.07.2024
2     Munich     1512491           11.07.2024
3    Cologne     1084831           11.07.2024
4  Stuttgart      632865           11.07.2024

In [31]:
 !pip install sqlalchemy
 !pip install pymysql

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.11/site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.12.0)
Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.11/site-packages (1.1.1)

In [ ]:
# This was added later to not show the password
import pw_safe

In [32]:
# Defining the connection string to the MySQL database
schema = "gans"
host = "35.240.108.232"
user = "root"
password = pw_safe.sql_root
port = 3306

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [33]:
# Pushing the cities information to the database
cities_df.to_sql('cities',
                  if_exists='',
                  con=connection_string,
                  index=False)

5

In [34]:
cities_df

   city_name  country   latitude  longitude
0     Berlin  Germany  52.520000  13.405000
1    Hamburg  Germany  53.550000  10.000000
2     Munich  Germany  48.137500  11.575000
3    Cologne  Germany  50.936389   6.952778
4  Stuttgart  Germany  48.777500   9.180000

In [37]:
population_data

   city_name  population population_timestamp
0     Berlin     3878100           11.07.2024
1    Hamburg     1964021           11.07.2024
2     Munich     1512491           11.07.2024
3    Cologne     1084831           11.07.2024
4  Stuttgart      632865           11.07.2024

In [38]:
# Pulling the automatically created city_id from the database
cities_from_sql = pd.read_sql("cities", con=connection_string)
cities_from_sql

   city_id  city_name  country   latitude  longitude
0        1     Berlin  Germany  52.520000  13.405000
1        2    Hamburg  Germany  53.550000  10.000000
2        3     Munich  Germany  48.137500  11.575000
3        4    Cologne  Germany  50.936389   6.952778
4        5  Stuttgart  Germany  48.777500   9.180000

In [39]:
population_data_new = pd.merge(population_data, cities_from_sql[['city_id', 'city_name']], on='city_name', how='left')
population_data_new

   city_name  population population_timestamp  city_id
0     Berlin     3878100           11.07.2024        1
1    Hamburg     1964021           11.07.2024        2
2     Munich     1512491           11.07.2024        3
3    Cologne     1084831           11.07.2024        4
4  Stuttgart      632865           11.07.2024        5

In [40]:
# Dropping redundant columns
population_data_new.drop(columns=['city_name'], inplace=True)

In [41]:
population_data_new

   population population_timestamp  city_id
0     3878100           11.07.2024        1
1     1964021           11.07.2024        2
2     1512491           11.07.2024        3
3     1084831           11.07.2024        4
4      632865           11.07.2024        5

In [42]:
# Changing the format of the timestamp into a SQL suitable form 
population_data_new['population_timestamp'] = pd.to_datetime(population_data_new['population_timestamp'], format='%d.%m.%Y').dt.strftime('%Y-%m-%d')

In [43]:
population_data_new

   population population_timestamp  city_id
0     3878100           2024-07-11        1
1     1964021           2024-07-11        2
2     1512491           2024-07-11        3
3     1084831           2024-07-11        4
4      632865           2024-07-11        5

In [44]:
# Pushing the population information to the database
population_data_new.to_sql('populations',
                  if_exists='replace',
                  con=connection_string,
                  index=False)

5